EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NAVER_MAP_CLIENT_ID=your_naver_map_client_id
EXPO_PUBLIC_NAVER_CLIENT_ID=your_naver_client_id
EXPO_PUBLIC_NAVER_CLIENT_SECRET=your_naver_client_secret
